.upload-area {
  cursor: pointer;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #dee2e6 !important;
}

.upload-area:hover {
  background-color: #f8f6f1 !important;
  border-color: #ffa559 !important;
}

.shadow-inner {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Styling Konten Resep (Markdown rendering) */
.recipe-content h1,
.recipe-content h2,
.recipe-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.recipe-content ul,
.recipe-content ol {
  padding-left: 1.2rem;
  margin-bottom: 1.5rem;
}

.recipe-content li {
  margin-bottom: 0.5rem;
}

/* Scrollbar Styling */
.recipe-container::-webkit-scrollbar {
  width: 6px;
}
.recipe-container::-webkit-scrollbar-thumb {
  background: #dee2e6;
  border-radius: 10px;
}
