.hero {
  width: 100%;
}

.hero .inner-hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/images/hero-bg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-hero .btn {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.section-1 {
  width: 70%;
}

.card {
  background-color: #fff;
  border-bottom: 3px solid #ffa559;
  padding: 1rem 1rem 0.1rem 1rem;
  margin: 0;
  width: 100%;
}

.card p {
  font-size: 14px;
}

.section-1 img {
  width: 46px;
  padding-bottom: 1rem;
  height: 100%;
}

.section-2 {
  width: 70%;
}

.section-2 button {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  border: none;
  outline: none;
}

.section-2 button:hover {
  text-decoration: underline;
}

@media (max-width: 890px) {
  .hero .inner-hero {
    padding: 0 2.5em;
  }
  .section-1 div {
    flex-wrap: wrap;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 90%;
  }

  .hero .inner-hero {
    padding: 0 1.5em;
  }
  .inner-hero .btn {
    padding: 10px;
    font-size: 13px;
  }

  .section-1,
  .section-2 {
    width: 100%;
    padding: 2em;
  }

  .section-1 div {
    flex-wrap: wrap;
  }
}

@media (max-width: 390px) {
  .inner-hero .btn {
    padding: 10px;
    font-size: 10px;
  }
}
