.hero {
  width: 100%;
}

.hero .inner-hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/images/hero-bg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-hero .btn {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.section-1 {
  width: 70%;
}

.card {
  background-color: #fff;
  border-bottom: 3px solid #ffa559;
  padding: 1rem 1rem 0.1rem 1rem;
  margin: 0;
  width: 100%;
}

.card p {
  font-size: 14px;
}
