@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "navbar.css";
@import "home.css";
@import "footer.css";
@import "about.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  scroll-behavior: smooth;
}

.main-content-wrapper {
  min-height: 100vh;
}

.loading-circle-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loading-circle {
  width: 50px;
  height: 50px;
  border: 10px solid #ffa559;
  border-radius: 50%;
  border-top: 10px solid #fff;
  animation: spin 1s linear infinite;
}

.lazyload {
  opacity: 0;
  transition: opacity 0.5s;
}
.lazyloaded {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 580px) {
  .go-to-top {
    width: 35px;
    height: 35px;
    font-size: 22px;
    line-height: 0;
    border-radius: 5px;
  }
}

.nav-link {
  transition: color 0.25s ease;
}

.nav-link:hover,
.nav-link.active,
.nav-link[aria-current="page"] {
  color: #ffa559 !important;
}
